:host{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.mat-form-field{
    text-align: center;
}

.mat-card{
    background: #d4d4d4;
    width: fit-content;
    min-width: 250px;
}