:host
{
    justify-content: center;
}

.mat-table{
    width: 100%;
}

.mat-card{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.mat-card-title{
    margin-bottom: 1rem;
}

.new-user-button{
    margin-bottom: 1rem;
}